.main.container{
	padding: 70px 45px;
	color: #757575;
}

a{
	color: #757575;
}

span{
	font-size: 0.8rem;
}

select{
	padding: 1rem;
  background-color: #000;
  background-image: none;
  border: 1px solid #333;
  color: #999;
  font-size: 16px;
}

.select-row{
	margin-top: 10px;
}
