<div class="main container">
	<div class="row">
		<p>
			Questions? Call
			<a class="footer-top-a" href="tel:000-800-040-1843">000-800-040-1843</a>
		</p>
	</div>
	<div class="row">
		<div class="col-md-3">
			<p><a  href="https://help.netflix.com/support/412"><span>FAQ</span></a></p>
			<p><a  href="https://help.netflix.com/support/412"><span>Investor Relations</span></a></p>
			<p><a  href="https://help.netflix.com/support/412"><span>Privacy</span></a></p>
			<p><a  href="https://help.netflix.com/support/412"><span>Speed Test</span></a></p>
		</div>
		<div class="col-md-3">
			<p><a  href="https://help.netflix.com/support/412"><span>Help Centre</span></a></p>
			<p><a  href="https://help.netflix.com/support/412"><span>Jobs</span></a></p>
			<p><a  href="https://help.netflix.com/support/412"><span>Cookie Preferences</span></a></p>
			<p><a  href="https://help.netflix.com/support/412"><span>Legal Notices</span></a></p>
		</div>
		<div class="col-md-3">
			<p><a  href="https://help.netflix.com/support/412"><span>Account</span></a></p>
			<p><a  href="https://help.netflix.com/support/412"><span>Ways to Watch</span></a></p>
			<p><a  href="https://help.netflix.com/support/412"><span>Corporate Information</span></a></p>
			<p><a  href="https://help.netflix.com/support/412"><span>Netflix Originals</span></a></p>
		</div>
		<div class="col-md-3">
			<p><a  href="https://help.netflix.com/support/412"><span>Media Centre</span></a></p>
			<p><a  href="https://help.netflix.com/support/412"><span>Terms of Use</span></a></p>
			<p><a  href="https://help.netflix.com/support/412"><span>Contact Us</span></a></p>
		</div>
	</div>
	<div class="row" style="position: relative;">
		<div class="select-row">
			<!-- <img src="assets/globe-icon.png" alt=""> -->
			<select>
		    <option>English</option>
		    <option>हिन्दी</option>
		  </select>
		</div>
	</div>
	<div class="row" style="margin-top: 2rem;"><span>Netflix India</span></div>
</div>