.row{
	padding: 4rem;
}

h3{
	color: white;
	padding-bottom: 10px;
  font-size: 1.2rem;
}

.email-address{
	width: 450px;
	height: 60px;
	padding: 10px 10px;
}

.btn.get-started{
	width: 230px;
	background-color: #e50914;
	color: white;
	height: 60px;
	border-radius: 0;
	vertical-align: top;
}

.get-started-text{
	display: block;
	font-size: 1.625rem;
}