/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Netflix Sans';
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff) format('woff')
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}